
# This file is not used when serving with Nginx

# Your Nginx configuration should include:
# location /test/11122/ {
#     alias /home/uneebkatib/public_html/test/11122/;
#     try_files $uri $uri/ /test/11122/index.html;
#     add_header Access-Control-Allow-Origin *;
# }

