
# This file is not used when serving with Nginx

# Your Nginx configuration should include:
# location / {
#     alias /home/jempmail/public_html/;
#     try_files $uri $uri/ /index.html;
#     add_header Access-Control-Allow-Origin *;
# }
